---
galaxy_info:
  role_name: [[ role_name ]]
  namespace: [[ galaxy_role_namespace ]]
  author: [[ github_user ]]
  description: [[ project_description ]]
  company: [[ user_company ]]
  license: [[ license ]]
  min_ansible_version: [[ min_ansible_version ]]
  galaxy_tags:
[% for tag in galaxy_tags %]
    - [[ tag ]]
[% endfor %]
