# Role [[ cli_output['role_name'] ]]

This role was generated be role *deploy-docker-compose-template** copier template.

## docker-compose.yml template

The original [docker-compose.yml]([[ compose_file_path ]]) was transformed into an ansible template:

```yaml
---
[[ cli_output['final_compose'] | to_nice_yaml(sort_keys=False, indent=2) ]]
```
## Defaults

Extracted from the original `docker-compose.yml` including environment configurations, the generated defaults are:

| Variable | default  | ENV | used by | is secret |
| -------- |----------|-----| ------- |-----------|
[% for def in cli_output.defaults  %]
| `[[ def.key ]]` | [[ def.value ]] | `[[ def.original_key | default('') ]]` | [[ def.service ]] | [[ def.is_secret ]] |
[% endfor %]
