# Role [[ cli_output['role_name'] ]]

[[ project_description ]]

[% if standalone_role %]
## Installation

Install the role using `ansible-galaxy` using a `requirements.yml` file:

```yaml

roles:
- src: [[ git_https_url ]]
  version: main
  name: [[ role_name ]]
  scm: git
```
[% endif %]

## docker-compose.yml template

The original [docker-compose.yml]([[ compose_file_path ]]) was transformed into an [ansible template](templates/docker-compose.yml)

## Defaults

Extracted from the original `docker-compose.yml` including environment configurations, the generated defaults are:

| Variable | default  | ENV | used by | is secret |
| -------- |----------|-----| ------- |-----------|
[% for def in cli_output.defaults | sort(attribute='key') %]
| `[[ def.key ]]` | [[ def.value ]] | `[[ def.original_key | default('') ]]` | [[ def.service ]] | [[ def.is_secret ]] |
[% endfor %]
